{% load static %}

<footer>
    <hr>
    <div class="container">
        <div class="footer-container">
            <span><a href="{% url 'terms' %}" class="fourteen green">Terms & Conditions</a> | <a href="{% url 'privacy' %}" class="fourteen green">Privacy Policy</a></span>
            <span class="fourteen">Monitored by : <span><a href="{% url 'about' %}" class="green">The team</a></span></span>
            <span class="fourteen green">Copyright &#169; 2024 Materials Science Hub</span>
        </div>
    </div>
</footer>