{% extends 'mse/base.html' %}
{% load static %}

{% block title %}
Forgot password
{% endblock %}

{% block body %}
<div class="conatiner">
    <p class="regular fourteen warning" style="text-align: center;">{{ message }}</p>
    <h2 style="text-align: center;">Enter your email</h2>
    <form action="{% url 'forgot' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="email" id="inputfield" placeholder="Enter email">
        <input type="submit" value="Submit" class="submit-btn" id="submit-btn">
    </form>
    <p class="regular eighteen" style="text-align: center;">You will get a otp code to verify the password changing process.</p>
</div>
{% endblock %}